
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Relatórios Estatísticos</title>
  <link rel="stylesheet" href="/css/stylesReports.css">
</head>
<body>
  <h1>Relatórios Estatísticos</h1>
  <ul>
    <li><a href="/reports/age">Relatório por Idade</a></li>
    <li><a href="/reports/gender">Relatório por Sexo</a></li>
    <li><a href="/">Voltar ao Menu Principal</a></li>
  </ul>
</body>
</html>
