<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro de Relatório</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin: 10px 0 5px;
            font-weight: bold;
        }
        input {
            width: 4ch; /* Define largura para exibir 4 caracteres */
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center; /* Centraliza o texto dentro do input */
            font-size: 16px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #0056b3;
        }
        .btn-secondary {
            background-color: #6c757d;
        }
        .btn-secondary:hover {
            background-color: #5a6268;
        }
    </style>
</head>
<body>
    <!-- Incluir VLibras automaticamente -->
    <%- vlibras %>

    <div class="container">
        <h1>Filtro de Relatório</h1>
        <form action="/relatorio/gerar-relatorio-qtdefaltas" method="POST">
            <label for="alunoInicial">Aluno(a) Inicial:</label>
            <input type="text" id="alunoInicial" name="alunoInicial" maxlength="4" required>

            <label for="alunoFinal">Aluno(a) Final:</label>
            <input type="text" id="alunoFinal" name="alunoFinal" maxlength="4" required>

            <button type="submit">Gerar Relatório</button>
            <button type="button" class="btn-secondary" onclick="window.location.href='/relatorioMenu';">Voltar</button>
        </form>
    </div>
</body>
</html>
