<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.
    0">
    <link rel="stylesheet" href="./styles/style___.css">
    <title>Página Inicial</title>
</head>
<body>
    <h1>CASA  DA  MÚSICA</h1>
    
    <main>
        <section id="imagemguitarra">

        </section>
    </main>
    <fieldset>
    <div class="button" >

        <div class="cadastro">
            
        </div>
            <br>
        <div>
            <form action="/alunos" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Cadastro de Alunos</button>
            </form>
        </div>

        <div> 
            <form action="/professores" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Cadastro de Professores</button>
            </form>
        </div>
        
        <div>
            <form action="/disciplinas" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Cadastro de Disciplinas</button>
            </form>
        </div>

        <div> 
            <form action="/notas" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Cadastro de Notas</button>
            </form>

        </div>

        <div>
            <form action="/faltas" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Cadastro de Faltas</button>
            </form>
        </div>

        <div>
            <button type="button" class="solid" >Lista de Presença</button>
        </div>

        <div>
            <form action="/reports" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Relatórios Estatísticos</button>
            </form>
        </div>

        <div>
            <form action="/usuarios" method="GET">
                <button type="submit" class="btn btn-primary btn-lg">Usuários do Sistema</button>
            </form>
        </div>

        <div>
            <form action="/logout" method="POST">
                <button type="submit" class="solid">Voltar para Login</button>
            </form>
        </div>
        
    </fieldset>      
    </div>
    
</body>
</html>