<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylesReports.css">
  <title>Relatórios Estatísticos</title>
  
</head>
<body>
  <h1>Relatórios Estatísticos</h1>
  <ul>
    <li><a href="/reports/age">Aluno(a) por Idade</a></li>
    <li><a href="/reports/gender">Aluno(a) por Sexo</a></li>
  </ul>
  <button onclick="window.history.back()">Voltar</button>
</body>
</html>
