<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.
    0">
    <link rel="stylesheet" href="/styles/style___.css">

</head>
<body>
  <!-- Incluir VLibras automaticamente -->
  <%- vlibras %>

<h1>CASA  DA  MÚSICA - Relatórios Gerênciais</h1>

<main><section id="imagemguitarra"> </section></main>
<fieldset>
  <div class="button">

    <div class="cadastro"></div>
    <br>
    <div>
      <form action="/relatorio/filtro-relatorio" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Aluno(a)s</button>
      </form>
    </div>
    <div>
      <form action="/relatorio/filtro-relatorio-qtdefaltas" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Aluno(a)s Multiplas Faltas</button>
      </form>
    </div>
    <div>
      <form action="/relatorio/filtro-relatorio-matridisci" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Aluno(a)s Multiplas Matriculas</button>
      </form>
    </div>

    <div> 
      <form action="/relatorio/filtro-relatorio-professor" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Professore(a)s</button>
      </form>
    </div>
    <div> 
      <form action="/relatorio/filtro-relatorio-disciplina" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Disciplina(s)</button>
      </form>
    </div>
    <div> 
      <form action="/relatorio/filtro-relatorio-disciplina-professor" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Disciplina(s) vs Professore(a)s</button>
      </form>
    </div>
    
    <div>
      <form action="/menu" method="GET">
        <button type="submit" class="solid">Voltar</button>
      </form>
    </div>
  </div>
</fieldset>       
</body>
</html>