<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.
    0">
    <link rel="stylesheet" href="./styles/style___.css">
    <title>Página Inicial</title>
</head>
<body>
<h1>CASA  DA  MÚSICA - Relatórios Estatísticos</h1>

<main><section id="imagemguitarra"> </section></main>
<fieldset>
  <div class="button">

    <div class="cadastro"></div>
    <br>
    <br>
    <br>
    <br>
    <div>
      <form action="/reports/age" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Aluno(a) por Idade</button>
      </form>
    </div>

    <div> 
      <form action="/reports/gender" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Aluno(a) por Sexo</button>
      </form>
    </div>

    <div>
      <form action="/menu" method="GET">
        <button type="submit" class="solid">Voltar</button>
      </form>
    </div>
  </div>
</fieldset>       
</body>
</html>