/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Encapsulamento do formulário */
#form-cadastro {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

/* Estilo do título */
.titulo-formulario {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Layout do formulário */
.formulario {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}

/* Grupo de campos do formulário */
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* Ajuste do grupo de rádio para alinhamento correto */
.form-group-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* Centraliza o rótulo e as opções horizontalmente */
    margin-left: 100px; /* Move o grupo para a direita */
}

/* Estilo para os rótulos */
.form-label,
.form-label-radio {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Grupo de botões de rádio */
.form-radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}

/* Botões de radio */
.form-radio-input {
    margin-right: 5px;
}

/* Rótulo dos botões de radio */
.form-radio-label {
    font-size: 14px;
}

/* Estilo do botão */
.form-button {
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.form-button:hover {
    background: #0056b3;
}

.form-button:active {
    background: #003f88;
}

/* Exclusivamente para a página de atualização do cadastro de usuários */
.form-radio-usuario {
    margin-left: -200px; /* Move todo o grupo para a direita */
}